.jumbotron{
    background-color: #FFFFFF ;
    text-align:center;
    color: #0A1577;
    
}

.jumbotron h1{
    font-size: 40px;
    font-weight: bold; 
}

#logo{
    height: 35px;
    width: 35px
}



.log-container {
    text-align: center;
   
  }


#tweet_div{
    border-bottom: 2px #EBECF3 solid;
}

#snackbar {
    visibility: hidden;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 2px;
    font-size: 15px;
    border-bottom: 2px #EBECF3 solid;
    
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}




@keyframes fade-in {
    0% { opacity: 0.2; }
  100% { opacity: 1; }
}

[class^=dot-] {
  animation: 500ms ease-in fade-in infinite alternate;
}
.dot-1 { animation-delay: 0s; }
.dot-2 { animation-delay: 125ms; }
.dot-3 { animation-delay: 250ms; }
.dot-4 { animation-delay: 375ms; }
.dot-5 { animation-delay: 500ms; }
.dot-6 { animation-delay: 625ms; }
.dot-7 { animation-delay: 750ms; }
.dot-8 { animation-delay: 875ms; }




.dots {
  margin: 50px auto;
  width: 2px;
  height: 2px;
  position: relative;
  zoom: 0.3;
}

[class^=dot-] {
  position: absolute;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background: black;
  transform-origin: -30px 10px;
}
.dot-1 {
  transform: translateX(40px) rotate(0deg);
}
.dot-2 {
  transform: translateX(40px) rotate(45deg);
}
.dot-3 {
  transform: translateX(40px) rotate(90deg);
}
.dot-4 {
  transform: translateX(40px) rotate(135deg);
}
.dot-5 {
  transform: translateX(40px) rotate(180deg);
}
.dot-6 {
  transform: translateX(40px) rotate(225deg);
}
.dot-7 {
  transform: translateX(40px) rotate(270deg);
}
.dot-8 {
  transform: translateX(40px) rotate(315deg);
}


a { color: inherit; } 